@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--pageBG);
}

:root {
    --headerBG: #22223a;
    --branco: #edf0f1;
    --pageBG: #2e2e47;
    --rosa: #ff57d2;
    --laranja: #ff8457;
}


a {
    font-family: "Montessat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: var(--branco);
}


li {
    font-family: "Montessat", sans-serif;
    font-weight: 500;
    font-weight: 500;
    padding: 10px 0;
    text-decoration: none;
    color: var(--branco);
    list-style: none;
}

h1, h2, h3, h4, p {
    font-family: "Montessat", sans-serif;
    font-weight: 500;
    color: var(--branco);
    padding: 10px;
}

#h1Home {
    display: flex;
    justify-content: center;
}

summary:hover {
    color: var(--laranja);
}

summary {
    color: var(--branco);
}

details.detailsList {
    font-family: "Montessat", sans-serif;
    font-weight: 500;
    padding: 10px;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 30px;
    background: var(--headerBG);
}


.logo {
    cursor: pointer;
    max-width: 17%;
    margin-right: auto;
    margin-top: -20px;
    margin-bottom: -20px;
}

.logo:hover {
    max-width: 20%;
}

.cta {
    padding-left: 40px;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: var(--rosa);
}

.menu {
    display: none;
}

@media (max-width: 1080px) {
    .nav_links, .cta {
        display: none;
    }
    .menu {
        display: inherit;
    }
}




/* Mobile Nav */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    background-color: var(--rosa);
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
}

.overlay_content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
}

.overlay a:hover, .overlay a:focus {
    color: var(--headerBG);
}

.overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}


@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    } 
    .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}




button {
    padding: 9px 25px;
    background-color: var(--headerBG);
    border: solid;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: var(--branco);
}


.containerHome {
    grid-template-columns: 20% 40% 40%;
    width: 100%;
    display: grid;
    padding: 5px;
    grid-template-areas:
    "sideNav topSpace topSpace" 
    "sideNav itemContainer itemContainer"
    "sideNav itemContainer itemContainer"
    "footer footer footer";
}

.topSpace {
    width: 100%;
    border-radius: 10px;
    grid-area: "topSpace";
    grid-column: topSpace;
}

.sideNav {
    height: 100%;
    border-radius: 30px;
    padding: 30px;
    background-color: var(--headerBG);
    grid-area: "sideNav";
    grid-row: sideNav;
}

.itemContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    margin-bottom: 70px;
    margin-left: 45px;
    margin-top: 30px;
    max-width: 300px;
    min-width: 200px;
    height: 300px;
    border-radius: 30px;
    background-color: var(--headerBG);
    grid-area: "itemContainer";
}

.footer {
    width: auto;
    height: 300px;
   margin-top: 5px;
    border-radius: 30px;
    background-color: var(--headerBG);
    grid-area: "footer";
    grid-column: footer;
}

@media (max-width: 600px) {
    .containerHome {
        grid-template-columns: 20% 80%;
        grid-template-areas:
        "sideNav topSpace" 
        "sideNav itemContainer"
        "sideNav itemContainer"
        "footer footer";
    }
}

@media (max-width: 480px) {
    .containerHome {
        grid-template-columns: 100%;
        justify-content: center;
        grid-template-areas:
        "sideNav"
        "topSpace" 
        "itemContainer"
        "itemContainer"
        "itemContainer"
        "itemContainer"
        "footer";
    };
    .sideNav {
        height: 200px;
    }
}

